*{margin : 0;
padding: 0;
}
.DangNhap{
    width: 600px;
    height: 300px;
    background-color: rgb(243, 234, 234);
    border : 1px solid gray;
    padding: 20px;
    position : fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%); 
}
.DangKy{
    width: 600px;
    height: 300px;
    background-color: rgb(243, 234, 234);
    border : 1px solid gray;
    padding: 20px;
    position : fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}
.NutDangKy{
    float: center;
}
.NutDangNhap{
    float: center; 
}